@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --c1:rgba(255, 255, 255, 0.9);
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #000;
    --black2: #999;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container-fluid{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: url(../Images/nav.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: 0.5s;
    overflow: hidden;
    margin-left: -15px;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 11px;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color: #000;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 6opx;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.navigation-active{
    width: 95% !important;
    left: 80px !important;
}
/* curve outside*/
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: url(../Images/bg111.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: 0.5s;
}
main.active{
    transition: 0.5s;
    width: calc(100% - 300px);
    left: 300px;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.p{
    font-size: 1.3em;
    color: var(--black2);
}

.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox.vertical-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
.cardBox .card{
    position: relative;
    background: linear-gradient(rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.4));
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between; 
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 400;
    font-size: 1.5em;
    color: #fff;
}
.cardBox .card .cardName{
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
}
.cardBox .card .iconBx{
    font-size: 2.5em;   
    color: #fff;
}
.cardBox .card:hover{
    background: linear-gradient(rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.4));
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
    color: #000;
}
.hidden {
    display: none;
}

.table{
    position: relative;
    width: 100%;
    padding: 20px;
}
.set {
    margin-top: 20px; /* Adjust the margin to create space between search bar and table */
  }
table {
    width: 100%;
    border-collapse: collapse;
  }
.theader{
    margin-top: 40px;
}
thead {
    background-color: var(--blue);
    color: var(--white);
  }
  
thead tr {
    border-bottom: 2px solid var(--white);
  }
  
th, td {
    padding: 12px 6px;
    text-align: left;
  }

/* course css */

.thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.thumbnails-container img {
    margin: 0;
    width: 150px;
    height: auto;
}
.video-title {
    text-align: center;
    margin-top: 5px;
    font-size: 19px;
    padding: 5px 5px;
}
.video-container{
    margin: 0 60px;
}

.list-block {
    float: left;
    margin: 31px;
    width: 26%;
    font-size: 0;
    overflow: hidden;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  }

  .search{
    display: flex;
    justify-content: center;
  }
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
  }

  .searchbar{
    display: flex;
    gap: 7px;
  }
  .searchbtn {
    display: inline-block;
    padding: 5px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    transition: background 0.3s ease;
}
  .list-block figure {
    position: relative;
    display: block;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
.notFoundMessage {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 9999;
}
#text{
    font-family: 'Ubuntu', sans-serif;
    display: none;
    font-weight: bold;
    font-size: 30px;
    margin: 0 60px;
    margin-top: 10px;
}
.notFoundMessage p {
    margin: 0;
}
  .list-block figure:after {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transform: skew(-45deg) scaleX(0);
    -ms-transform: skew(-45deg) scaleX(0);
    transform: skew(-45deg) scaleX(0);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .list-block figure:hover:after {
    -webkit-transform: skew(-45deg) scaleX(1);
    -ms-transform: skew(-45deg) scaleX(1);
    transform: skew(-45deg) scaleX(1);
    -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .list-block img {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    max-width: 100%;
    min-width: 100%;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    -webkit-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
  }
  .list-block figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  .list-block p {
    margin: 0;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    font-size: 14px;
    text-transform: uppercase;
  }
  .list-block figure:hover figcaption p {
    -moz-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    font-weight: 900;
  }
  .list-block figure:hover figcaption p {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    font-size: 14px;
  }
  .showcategory{
    position: absolute;
    left: 50%;
    width: 20%;
    margin-top: 65px;
  }
  .whitecontainer{
    background: #fff;
    padding: 10px;
  }
  .showcontainer{
    background: #fff;
    padding: 10px;
  }
 .catgy{
    margin-bottom: 18px;
 }
 ul{
    list-style: none;
 }
 .selected {
    background-color: green; /* Change to whatever highlight style you prefer */
}
/* make it responsive*/
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
    .graph canvas {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .resp-hamburger{
        margin-left: 216px;
    }
}
@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
    z-index: 10001; /* Ensure it's above other elements */ 
    }
    .main.active .toggle{
        position: fixed;
        right: initial;
        left: initial;
        color: var(--white);
    }

}
